.profileContainer{
    display: flex;
    align-items: center;
    margin-top: 1.8rem;
}

.profileContainer > img{
    width: 4.4rem;
    height: 4.4rem;
    border-radius: 50%;
}

.profileContainer div{
    margin-left: 1.5rem;
}

.profileContainer div strong{
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--title);
}

.profileContainer p{
    display: flex;
}

.profileContainer div p{
    font-size: 0.9rem;
    margin-top: 0.5rem;
}

.profileContainer div p img{
    margin-right: 0.5rem;
}